.RollDice {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.RollDice-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.RollDice button {
  align-self: center;
  width: 15rem;
  padding: 1.5rem;
  border: 0px;
  border-radius: 10px;
  color: #fff;
  background-color: #000;
  margin-top: 3rem;
}

.RollDice button:hover {
  background-color: darkslateblue;
  cursor: pointer;
}